/* add your CSS here */
img {
  width: 300px;
  padding: 12px;
}

li span {
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 5px;
}


.text {
  border: 1px solid black;
  padding: 5px;
  width: 300px;
  margin: 10px;
}

.card {
  background-color: lightgreen;
  width: 332px;
}

.fact {
  font-style: italic;
}

h3 {
  font: 24px "Constantia";
  text-align: center;
  padding: 5px;
}